@{
    ViewBag.Title = "About";
}
<div class="about">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">About UR <strong style="color:red">E-Cloth Shop</strong></h3>
        <div class="about-text">
            <p>&ldquo;BEST PRICE WITHOUT COMPOMISING QULAITY&rdquo;</p>

            <p>YOUR ONE STOP ONLINE SHOP FOR GENERAL MERCHANDISE. </p>

            <p><strong style="color:black">E-Cloth Shop</strong> is the first of our online, wholesale and retail company; for many of our retail stores. It has solidified its position by offering a differentiated shopping experience through its retail stores. We are located in different subdivisions of Houston, Texas. </p>
            <br />
            <h5>GENERAL MERCHANDISE</h5>
            <br />
            
            <p>
                &bull; DTG Custom Printing <br />
                &bull; Wallets<br />
                &bull; Electronics <br />
                &bull; Fashion Jewelry<br />
                &bull; Toys<br />
                &bull; Hoverboards<br />
                &bull; Electric Car for Kids<br />
                &bull; Cell Phone Accessories<br />
                &bull; VAPES, E-Cigs, E-juice<br />
                &bull; Custom Invites <br />
                &bull; Snapchat Geofilters<br />
                &bull; Gifts/Seasonal Items<br />
                &bull; General Merchandise <br />
                &bull; And Much More<br />
            </p>

            
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <h4>10 Million+ <br>Products</h4>
            </div>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h4>50,000 <br> Sellers </h4>
            </div>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <h4>5 Million <br>Shipments</h4>
            </div>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h4>4000+ <br>Cities</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
