
@{
    ViewBag.Title = "Not Approved";
}

<div class="login-page">
    <h3 class="w3ls-title w3ls-title1">@ViewBag.Title</h3>
    <div class="login-body">
        <p>
            Your Account is not approved yet by admin you can't login.
        </p>
    </div>
    <h6> Not a Member? <a href="@Url.Content("~/")">Go To Home »</a> </h6>
</div>
